NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxxxx

# À renseigner au Lot 1 sprint 2, une fois AzuraCast déployé
NEXT_PUBLIC_RADIO_STREAM_URL=https://radio.bayegadjimultimedia.sn/stream
